body {
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 192px;
    background-color: #53c351;
    color: white;
    top: 0;
    left: 0;
    gap: 30px;
    padding: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.power-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 17px;
    padding-top: 12px;
    left: 180px;
}

nav {
    display: flex;
    gap: 25px;
    flex-direction: column;
    top: 202px;
}

.d-img {
    width: 20.75px;
    height: 17.82px;
}

.s1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 20px;
    cursor: pointer;
    background-color: #ECFFECBA;
    border: none;
    padding: 0px;
    border-radius: 8px;
    width: 166px;
    height: 39.59px;
    border-color: #ECFFECBA;
}

.s1>p {
    font-size: 14px;
    font-weight: 500;
    color: #0B7509;
}

.o-img {
    margin: 0px 0px;
    width: 23.06px;
    height: 19.8px;
    padding: 0px 20px;
}

.s2 {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    cursor: pointer;
    background-color: none;
    border: none;
    padding: 0px;
    border-radius: 8px;
    width: 166px;
    height: 39.59px;
    gap: 0px;
}

.s2>p {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.p-img {
    margin: 0px 0px;
    width: 22px;
    height: 19.8px;
    padding: 0px 20px;
}

.s-img {
    margin: 0px 0px;
    width: 22px;
    height: 15.84px;
    padding: 0px 20px;
}

.pay-img {
    margin: 0px 0px;
    width: 22px;
    height: 15.84px;
    padding: 0px 20px;
}

.settings-img {
    margin: 0px 0px;
    width: 21.53px;
    height: 19px;
    padding: 0px 20px;
}

.cs {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0px;
    margin-left: -15px;
}

.cs>h1 {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.cs>p {
    font-size: 12px;
    font-weight: 400;
    color: white;
    line-height: 16px;
}

.cs-btn {
    width: 128px;
    height: 40px;
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: #53c351;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.c-img {
    width: 20px;
    height: 18px;
    padding-left: 2px;
}

.btm {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: left;
    gap: 0px;
    margin-left: -40px;
    margin-top: 15px;
    margin-bottom: 50px;

}

.btm>p {
    font-size: 12px;
    font-weight: 500;
    color: white;
    line-height: 16px;
    margin-bottom: -10px;
    margin-left: 0px;
}

@media (max-width: 500px) {
    .sidebar {
        width: 100px;
        padding: 12px;
        gap: 15px;
    }

    .s1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 0px;
        cursor: pointer;
        background-color: #ECFFECBA;
        border: none;
        padding: 0px;
        border-radius: 8px;
        width: 166px;
        height: 39.59px;
        border-color: #ECFFECBA;
    }

    .s1 {
        width: 100px;
        height: 30px;
        gap: 0px;
    }

    .s2 {
        width: 100px;
        height: 30px;
        gap: 5px;
    }

    .s1>p {
        margin-left: 0px;
        padding-left: 0px;
    }

    .s1>p,
    .s2>p,
    .cs>h1,
    .btm>p,
    .cs-btn,
    .cs>p {
        font-size: 8px;
    }

    .power-icon {
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
        padding-top: 8px;
        left: 90px;
    }

    .d-img {
        width: 12px;
        height: 10px;
        margin-right: 0px;
        padding-right: 12px;
        margin-left: -5px;
    }

    .o-img,
    .p-img,
    .pay-img,
    .settings-img {
        width: 12px;
        height: 12px;
        padding: 0px 10px;
    }

    .s-img {
        width: 12px;
        height: 9px;
        padding: 0px 10px;
    }

    .cs-btn {
        width: 90px;
        height: 30px;
        font-size: 7px;
    }

    .cs {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        gap: 0px;
        margin-left: 0px;
        margin-top: 10px;
    }


    .c-img {
        width: 12px;
        height: 12px;
        padding-left: 1px;
    }

    .btm {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-items: center;
        gap: 0px;
        margin-top: 15px;
        margin-bottom: 50px;
        margin-left: -15px;
    }

    .btm>p {
        color: white;
        line-height: 16px;
        margin-bottom: -10px;
    }
}